body {
    font-size: 15pt;
    color: blue;
}
*{
    background-color: lightblue;
    margin: 0;
}
h1{
    color: white;
    text-align: center;
    font-weight: 900;
    background-color: black;
    font-family:arial,roboto,cursive;
    font-size: 35px;
    border:3px,solid, black;
    border-radius: 0px;
    width: 1000px;
    
}
#bar{
   background-color: Black;
   color: white;
   border: 3px,solid,white;
   height: 30px;
   display: flex;
   width: 1000px;
}
#p1{
color:White ;
background-color: black;
font-size: 14px;
   margin-right: 500px;

}
#a1{
    color:Bule;
    font-size: 15px;
    background-color: black;
    margin-right: 200px;
}
footer{
    background-color: lightslategrey;
    border: 3px, solid,black;
    width: 1000px;
    height: 500px;
}
#btn3{
   margin-right: 13.5px;
border: 5px,solid, black;
background-color: white;
}

#Account{
    background-color: black;
    text-decoration: none;
    color:White;
}
#search{
    background-color: black;
    
}
main{
    border:3px, solid,white;
    width: 1000px;
    height: 2500px;
}